
@mixin tusfileupload {
	$tusfileupload-compact-size: 80px !default;
	$tusfileupload-compact-filesize-height: 20px !default;
	$tusfileupload-compact-element-padding: 5px !default;
	
	.tusmultiuploadlayout-filelistcomponent {
		.thumb { width: 30px; }
		.filename { width: 150px; }
		.filesize { width: 80px; }
		.filetype { width: 80px; }
		.progress-infos { min-width: 180px;}
	}
	
	.tusmultiuploadlayout-filelistcomponent-compact {
		width: $tusfileupload-compact-size;
		&.failed {
			.tusmultiuploadlayout-filelistcomponent-compact-thumbwrapper {
				border: 1px solid #E34A4C;
			}
		}
		
		.tusmultiuploadlayout-filelistcomponent-compact-thumbwrapper {
			position: relative;
			width: $tusfileupload-compact-size;
			height: $tusfileupload-compact-size;
			border: 1px solid #E3E3E3;
			
			& > .v-caption {
				font-size: 40px;
				text-align: center;
				width: 100%;
			}
			
			.progress-wrapper {
				position: absolute;
				top: 30%; left:0px; right:0px;
				width: $tusfileupload-compact-size;

                .v-slot-progress-bar {
                  height: round($v-unit-size/4);
                }

                .progress-infos {
                  width: 100%;
                }
			}
			
			img {
				width: $tusfileupload-compact-size;
				height: $tusfileupload-compact-size;
			}
			
			// action button
			.v-button {
				position: absolute;
				top: 0px; right:0px;
				//background: none;
				border: 0;
				box-shadow: none;
				padding: 0px;
				height: 25px;
				width: 25px;
				text-align: center;
			}
			
			.v-label {
				text-align: center;
				background: rgba(255, 255, 255, 0.8);
				font-size: 0.8em;
				
				&.filesize {
					position: absolute;
					bottom: 0px; left:0px;
					height: $tusfileupload-compact-filesize-height;
					width: $tusfileupload-compact-size;
				}
			}
			
		}
		
		.v-slot-tusmultiuploadlayout-filelistcomponent-compact-thumbwrapper > .v-spacing {
			height: 12px;
		}
			
		.v-label.filename {
			font-size: 0.6em;
			width: $tusfileupload-compact-size;
			white-space: normal;
		}
	}
	
	.v-slot-tusmultiuploadlayout-filelistcomponent-compact {
		float: left;
		padding: $tusfileupload-compact-element-padding;
	}
}
